body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
b,
strong {
  font-weight: 500;
}
body,
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  background-color: black;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 40px;
}
header a,
header p {
  color: white;
  font-size: 13px;
  padding: 0px 10px;
}
.d-flex {
  display: flex;
}
